.nav {
    font-size: large;
    padding: 20px 54px;
}
#sidebar {
    float: none;
    width: 100%;
    display: none;
    transition: .25s;
}
#main-content {
    float: none;
    width: 100;
}
#header-logo {
    width: 60px;
    height: 74px;
}
#mobile-calender-toggle {
    display: inline;
    float: right;
}
