html {
    font-size: xx-large;
}
.nav {
    padding: 30px 30px;
    font-size: xx-large;
}
#sidebar {
    float: none;
    width: 100%;
    display: none;
    transition: .25s;
}
#main-content {
    float: none;
    width: 100;
}
#header-logo {
    width: 91px;
    height: 81px;
}
#mobile-calender-toggle {
    display: inline;
    float: left;
}
#footer-container {
    margin: 8px;
}
#here {
    display: none;
}