html {
    font-family: "Roboto", sans-serif;
    font-size: xx-large;
    text-align: center;
}
h1, h2 {
    font-family: "Lato", sans-serif;
}
li {
    list-style: square;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}
#first {
    border-bottom: none;
}
a {
    color: #00e;
    text-decoration: none;
    transition: all ease-in-out 400ms;

}
a:hover {
    text-decoration: underline;
}
a:visited {
    color: #00e;
    text-decoration: none;
}